@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Bokor&family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@600&family=Faculty+Glyphic&family=Ga+Maamli&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Barcode+39&family=Lobster&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Ponnala&family=Protest+Revolution&family=Rubik+Mono+One&family=Sacramento&family=Sarina&family=Satisfy&family=Sofia&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    box-sizing: border-box;
}

/* Selection Styling */
::selection {
    background: cyan;
    color: black;
}

.main-portfolio-website {
    background-color: rgb(19, 20, 24);
    font-family: "Open Sans", serif;
    padding: 10px;
    box-sizing: border-box;
    color: white;
}

.heading-name {
    color: white;
    font-family: "Berkshire Swash", serif;
    text-shadow: 0px 0px 10px white;
    font-size: 30px;
    transition: 0.5s;
}

.navbar-brand:hover {
    font-size: 33px;
}

.folio-name {
    color: aqua;
    font-family: "Pacifico", serif;
    text-shadow: 0px 0px 10px cyan;
}

.nav-link {
    font-size: 1.1em;
    transition: 0.3s;
    color: white;
}

.nav-link:hover {
    color: aqua !important;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.2em;
}

.cv-btn {
    padding: 3px 15px;
    border: none;
    font-weight: 550;
    transition: 0.9s;
    background-color: transparent;
    color: white;
    border: 1px solid cyan;
}

.cv-btn:hover {
    background-color: cyan;
    color: black;
}

.navbar-toggler {
    border: solid 3px cyan;
}

.navbar-toggler:hover {
    box-shadow: 0px 0px 5px cyan,
        0px 0px 8px cyan,
        0px 0px 14px cyan,
        0px 0px 20px cyan;
    border-radius: 15px;
}




/*my Profile*/
.image-photo {
    height: 350px;
    padding: 5px;
    filter: drop-shadow(0px 0px 20px cyan);
    border: solid 3px cyan;
    border-radius: 50%;
}

@media screen and (orientation:landscape) {
    .image-photo {
        height: 350px;
        margin-left: 50px;
        padding: 5px;
        filter: drop-shadow(0px 0px 20px cyan);
        border: solid 3px cyan;
        border-radius: 50%;
    }

    .sub-projects {
        margin-left: 80px;
    }
}

.profile-section {
    margin-top: 150px;
}

.sub-designation {
    color: white;
    text-shadow: 0px 0px 15px white;
    font-weight: bold;
    font-size: 16px;
}

.about-name {
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 15px white;
    font-family: "Faculty Glyphic", serif;
    letter-spacing: 2px;
    font-size: 25px;
}

.myName {
    font-family: "Ubuntu", serif;
}

.helloID {
    font-family: "Kanit", serif;
    letter-spacing: 3px;
}

.developer {
    font-family: "Protest Revolution", serif;
}

.image-shdw {
    transition: 0.5s;
}

.image-shdw:hover {
    filter: drop-shadow(0px 0px 30px cyan);
    cursor: pointer;
}

.about-me-image {
    filter: drop-shadow(0px 0px 5px cyan);
    transition: .3s;
}

.about-me-image:hover {
    transform: scale(1.1)
}

.developer {
    color: cyan;
    text-shadow: none;
    padding-left: 8px;
    text-shadow: 0px 0px 15px cyan;
}

.sdgggg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.para-bio {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.social-icons {
    display: flex;
    gap: 40px;
}

.social-icons i {
    font-size: 20px;
    color: cyan;
    transition: 1.5s;
    cursor: pointer;
}

.social-icons i:hover {
    transform: rotate(360deg);
    font-size: 23px;
    text-shadow: 0px 0px 5px cyan,
        0px 0px 7px cyan,
        0px 0px 10px cyan,
        0px 0px 15px cyan;
    color: black;
}

.Hire-me-btn {
    padding: 5px 35px;
    font-size: 14px;
    border: none;
    margin-right: 5px;
    background: transparent;
    border: 2px solid cyan;
    color: white;
    transition: .4s;
}

.contact-me-btn {
    padding: 5px 30px;
    font-size: 14px;
    border: 2px solid cyan;
    background: transparent;
    color: white;
    transition: .4s;

}

.contact-me-btn:hover,
.Hire-me-btn:hover {
    background-color: cyan;
    color: black;
    box-shadow: 0px 0px 3px cyan,
        0px 0px 7px cyan,
        0px 0px 10px cyan,
        0px 0px 15px cyan;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.sub-projects {
    display: flex;
    justify-content: center;
    gap: 10px;
    border-right: 2px solid white;
    padding: 15px 10px;
    height: 80px;
}

.projects .sub-projects p {
    color: white;
}

/* about me section */
.about-main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.about-me-image {
    height: 300px;
    box-shadow: 0px 0px 20px cyan;
    border-radius: 10%;
}

@media screen and (orientation:landscape) {
    .about-me-image {
        height: 300px;
        margin-left: 150px;
        box-shadow: 0px 0px 20px cyan;
        border-radius: 10%;
    }
}

@media screen and (orientation:portrait) {
    .about-me-image {
        height: 300px;
        margin-left: 80px;
        box-shadow: 0px 0px 20px cyan;
        border-radius: 10%;
    }
}

.me {
    color: cyan;
    text-shadow: 0px 0px 10px cyan;

}

.about-para {
    color: white;
}

.about-btn {
    padding: 5px 20px;
    border-radius: 5px;
    border: 2px solid cyan;
    background: transparent;
    color: white;
    transition: .5s;
}

.about-btn:hover {
    box-shadow: 0px 0px 5px cyan,
        0px 0px 10px cyan,
        0px 0px 15px cyan,
        0px 0px 20px cyan;
    background-color: cyan;
    color: black;
}



/*Web services*/
.web-name {
    font-size: 20px;
    font-weight: 550;
    font-family: "Kanit", serif;
}

.code {
    font-size: 35px;
    padding-top: 20px;
    padding-left: 25px;
}

.web-para {
    font-size: 14px;
    font-family: "Kanit", serif;
}

.learn-more {
    font-size: 13px;
    font-style: italic;
    cursor: pointer;
}

.learn-more:hover {
    text-decoration: underline;
    color: rgb(3, 36, 40);
}

.web-design {
    display: flex;
    flex-direction: column;
    background-color: rgb(58, 86, 88);
    color: white;
    border-radius: 10px;
    line-height: 20px;
    transition: all .5s ease-in-out 0.1s;

}

.web-design:hover {
    background-color: cyan;
    color: black;
    transform: translateY(-10px);
}

/*COURSES*/
.courses-name {
    display: flex;
    justify-content: space-around;
}

.subject-sourses {
    display: flex;
    justify-content: space-around;
}

.tik-mark {
    color: white;
    background-color: rgb(243, 2, 122);
    margin-right: 5px;
    margin-top: 5px;
    text-align: center;
    height: 18px;
    border-radius: 50%;
    line-height: 1px;
    padding: 1px;
    font-size: 15px;
}

.couses-bg {
    border: solid 1px cyan;
    padding: 20px;
    border-radius: 10px;
    transition: 0.5s;
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: white;

}

@media screen and (max-width:600px) {
    .couses-bg {
        margin-bottom: 15px;
    }
}

.couses-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: cyan;
    transition: 0.9s;
    z-index: -1;
}

.couses-bg:hover::before {
    width: 100%;
}

.couses-bg:hover {
    color: rgb(0, 0, 0);
    font-weight: 550;
}

.title-name {
    text-align: center;
    margin-bottom: 30px;
}

/* my projects */
@media screen and (orientation:landscape) {
    .project-cover {
        height: 285px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
}

@media screen and (orientation:portrait) {
    .project-cover {
        height: 178px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        overflow: hidden;
        background-size: cover;
        object-fit: cover;
    }
}

.projects-main {
    border: 2px solid cyan;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.project-name {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 550;
}

.project-description {
    font-size: 13px;
}

.open-projects-btn {
    padding: 5px 20px;
    background-color: black;
    border: 2px solid rgb(6, 213, 254);
    color: white;
    border-radius: 5px;
    transition: all .8s;
}

.open-projects-btn:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: 550;
    box-shadow: 0px 0px 5px black,
        0px 0px 10px black,
        0px 0px 15px black,
        0px 0px 20px black;
    border: none;
}

.hover-effect-projects {
    color: white;
    transition: all .8s;
    padding: 0px 15px;
    padding-bottom: 15px;
}

.hover-effect-projects:hover {
    background-color: cyan;
    color: black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
}


/* contact me section */
.icons-address {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
}

@media screen and (orientation:portrait) {
    .icons-address {
        margin-left: 10px;
    }

    .adress-in-small {
        margin-left: 20px;
    }
}

@media screen and (orientation:landscape) {}

.adress {
    font-size: 20px;
    background-color: cyan;
    padding: 10px;
    border-radius: 50%;
    color: black;
    margin-bottom: 10px;
}

.my-profile {
    height: 90px;
    border-radius: 50%;
    margin-right: 40px;
    margin-left: 10px;
}

.my-profile-head {
    display: flex;
    align-items: center;
}

.profile-main {
    background: linear-gradient(rgb(0, 217, 255), rgb(10, 17, 18));
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.my-profile-heading {
    font-weight: 550;
    font-size: 18px;
}

.my-profile-description {
    font-size: 14px;
    font-weight: 500;
    font-style: unset;
}

.mail-one a {
    text-decoration: none;
    font-size: 12px;
    color: white;
}

.send-mesg {
    font-size: 18px;
    font-weight: 550;
}

.send-description {
    font-size: 14px;
}

#message-text {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: solid 2px cyan;
    background-color: transparent;
    transition: .9s;
    color: white;
}

#message-text::placeholder {
    color: white;
    transition: all .1s;
    position: relative;
}

#message-text:hover::placeholder {
    color: black;
    font-weight: 550;

}

#message-text:hover {
    background-color: cyan;
    color: black;
}

#message-email {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: solid 2px cyan;
    background-color: transparent;
    transition: .9s;
    color: white;
}

#message-email::placeholder {
    color: white;
}

#message-email:hover::placeholder {
    color: rgb(5, 5, 5);
    font-weight: 550;
}

#message-email:hover {
    background-color: cyan;
    color: black;
}

#message-area {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: solid 2px cyan;
    transition: 0.8s;
    color: white;
}

#message-area::placeholder {
    color: white;
}

#message-area:hover::placeholder {
    color: rgb(5, 5, 5);
    font-weight: 550;
}

#message-area:hover {
    background-color: cyan;
    color: black;
}

.btn-send {
    padding: 6px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(6, 218, 255);
    transition: 0.5s;
}

.btn-send:hover {
    box-shadow: 0px 0px 5px cyan,
        0px 0px 10px cyan,
        0px 0px 15px cyan,
        0px 0px 20px cyan;
    background-color: cyan;
    color: black;
}












/* ANIMATIONS */
.portfolio {
    opacity: 0;
    animation: slideRight 0.8s ease-in forwards;
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.navbar-nav li a {
    opacity: 0;
    animation: slideleft 1.3s ease-in-out forwards;
    animation-delay: calc(0.2s * var(--i));
}

@keyframes slideleft {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.cvBtn {
    animation: slideUp 1.3s ease-out forwards;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: rotateZ(360deg);
    }
}

.imageContaienr {
    opacity: 0;
    animation: imagePhoto 1s ease-in forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

@keyframes imagePhoto {
    0% {
        opacity: 0;
        transform: scale(0.5) rotate(-50deg);
    }

    100% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
}

.BioSection,
.headings-bio,
.helloID,
.myName,
.myDesignation,
.para-bio {
    opacity: 0;
    animation: contentBio 1s ease-in-out forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    animation-delay: calc(0.2s * var(--i));
}

@keyframes contentBio {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

.socialIcons a i {
    opacity: 0;
    animation: icons 1.3s ease-in-out forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    animation-delay: calc(0.2s * var(--i));
}


@keyframes icons {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.button-contents button {
    opacity: 0;
    animation: buttons 1s ease-in-out forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    animation-delay: calc(0.4s * var(--i));

}

@keyframes buttons {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}


.sub-projects {
    opacity: 0;
    animation: aboutProjects 1.2s ease-in-out forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

@keyframes aboutProjects {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.aboutImage {
    opacity: 0;
    animation: secondImage 1.6s ease-in-out forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

@keyframes secondImage {
    10% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }

}

.web-design {
    opacity: 0;
    animation: services 1.2s ease-in-out forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    animation-delay: calc(0.2s * var(--i));
}

@keyframes services {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.frontendTech {
    opacity: 0;
    animation: mySkills 1.2s ease-in-out forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

@keyframes mySkills {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

.backendTech {
    opacity: 0;
    animation: mySkillsb 1.5s ease-in-out forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

@keyframes mySkillsb {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

.projects-main {
    opacity: 0;
    animation: myProjectsSkills 2s ease-in forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

@keyframes myProjectsSkills {
    10% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
